#results-table {
    display: none;
}
    #results-table tr {
        border: 1px solid rebeccapurple;
    }
    #results-table th, td {
        background-color: aliceblue;
        font-size: large;
        width: 10%;
        padding: 10px;
    }

.btn {
    margin: 2px;
}

body {
    text-align: center;
}

div {
    margin: 10px;
}